user: yourusername
token: 'yourtoken'
project: projectkey
projects: 
  projectkey:
    name: yourprojectname
    url: http://url.of.the.api/with/all/the/path
    commit: $.field.in.json.response.with.commit.hash
    version: $.field.in.json.response.with.version
